.searchForm {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  .productForm{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .searchFormContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 1rem;
    padding: 0 1rem;
 
  }

  .productFormContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 1rem;
    padding: 0 1rem;
    border: 1px solid #000;
  }
  
  .inputField {
    width: 70%;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
  }
  
  .inputField:focus-within {
    outline: none;
  } 

  .searchButton {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 0 10px 0 0;
    cursor: pointer;
  }
  
  .searchButton img {
    height: 32px;
  }
    

  